<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <script src="/js/bootstrapTest/config.navbar-vertical.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="/css/falcon/theme-dark.css" rel="stylesheet">
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <div class="content">
          <div class="row flex-center min-vh-100 py-6">
          <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="d-flex justify-content-center align-items-center py-4">
              <img src="/images/sapphireLogo.png" class="mr-2" style="height: 20px; width: auto;">
            </div>
            <div class="card">
              <div class="card-body p-4 p-sm-5">
                <div class="row text-left justify-content-between align-items-center mb-2">
                  <div class="col-auto">
                    <h5>Log in</h5>
                  </div>
                </div>
                <form action="/login" method="POST">
                  <div class="form-group mb-3">
                    <input class="form-control" type="text" placeholder="Username Or Email" name="username">
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" name="password" required>
                  </div>
                  <!-- Impliment EJS here to add the error message to the screen https://ejs.co/ -->
                  <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                      <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="basic-checkbox" checked="checked" name="rememberMe"><label class="custom-control-label" for="basic-checkbox">Remember me</label></div>
                    </div>
                  </div>
                  <div class="form-group"><button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Log in</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/js/falcon/jquery.min.js"></script>
    <script src="/js/falcon/popper.min.js"></script>
    <script src="/js/falcon/bootstrap.min.js"></script>
    <script src="/lib/@fortawesome/all.min.js"></script>
    <script src="/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/lib/is_js/is.min.js"></script>
    <script src="/lib/lodash/lodash.min.js"></script>
    <script src="/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="/lib/echarts/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>
    <script src="/lib/progressbar.js/progressbar.min.js"></script>
    <script src="/js/falcon/theme.js"></script>
  </body>

</html>
